workflows/dclt-badminton-poc.json
{
  "id": "DCLTBadmintonPOC",
  "name": "DCLT Badminton Availability POC",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "0f5b29b1-2992-4c30-b777-9da76e2d58f8",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-640, 0]
    },
    {
      "parameters": {
        "url": "={{ $env.DCLT_CHECKER_URL || 'http://dclt-badminton-checker:8787/availability?days=2' }}",
        "options": {}
      },
      "id": "318d80c4-ee8c-4d8e-bba6-148cfae5bf47",
      "name": "Fetch DCLT availability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-400, 0]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json;\nconst slots = payload.slots || [];\nreturn slots.map((slot, index) => ({\n  json: {\n    option: String.fromCharCode(65 + (index % 26)),\n    calendarId: 'DCLT Badminton Availability',\n    summary: slot.title,\n    start: { dateTime: slot.start, timeZone: payload.timezone || 'Europe/London' },\n    end: { dateTime: slot.end, timeZone: payload.timezone || 'Europe/London' },\n    location: slot.venue,\n    description: [\n      `Courts: ${(slot.courts || []).join(', ')}`,\n      `Booking: ${slot.booking_url}`,\n      `Checked: ${payload.checked_at}`,\n      `Managed by: ${payload.manager}`,\n      `Slot key: ${slot.id}`,\n      'Note: API availability only; final booking/pricing not verified.'\n    ].join('\\n'),\n    slotId: slot.id,\n    bookingUrl: slot.booking_url,\n    source: slot.source\n  }\n}));"
      },
      "id": "a6f2ba6e-c51c-45dc-a6d2-c603be3bdccfd",
      "name": "Build calendar event payloads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-160, 0]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nreturn [{ json: {\n  count: rows.length,\n  telegramSummary: rows.length ? rows.map(r => `${r.option}. ${r.summary} ${r.start.dateTime.slice(11,16)}-${r.end.dateTime.slice(11,16)} (${(r.description.match(/^Courts: (.*)$/m)||[])[1] || ''})`).join('\\n') : 'No available badminton slots found',\n  events: rows\n}}];"
      },
      "id": "b0fe8642-1d22-4ef4-a397-dba7da1b6b3f",
      "name": "Build Telegram summary / event batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [80, 0]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": { "__rl": true, "value": "={{ $json.calendarId || 'DCLT Badminton Availability' }}", "mode": "id" },
        "returnAll": true,
        "options": {
          "query": "Managed by: dclt-badminton-n8n-poc",
          "timeMin": "={{ $now.toISO() }}",
          "timeMax": "={{ $now.plus({ days: 2 }).toISO() }}",
          "singleEvents": true
        }
      },
      "id": "c1111111-0000-4000-8000-000000000001",
      "name": "GCal: Get managed events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [-160, 240],
      "disabled": true,
      "notesInFlow": true,
      "notes": "DISABLED for POC. Reads existing managed events (marker query) in the next 2 days so the diff can upsert. Needs googleCalendarOAuth2Api credential + real calendar id."
    },
    {
      "parameters": {
        "jsCode": "// Diff desired (from Build calendar event payloads) vs existing managed GCal events, keyed by Slot key.\nconst desired = $('Build calendar event payloads').all().map(i => i.json);\nconst existing = $('GCal: Get managed events').all().map(i => i.json);\n\nconst keyRe = /Slot key:\\s*(\\S+)/;\nconst existingByKey = {};\nfor (const ev of existing) {\n  const m = (ev.description || '').match(keyRe);\n  if (m) existingByKey[m[1]] = ev;\n}\nconst desiredKeys = new Set(desired.map(d => d.slotId));\n\nconst out = [];\n// create missing / update changed\nfor (const d of desired) {\n  const ex = existingByKey[d.slotId];\n  if (!ex) {\n    out.push({ json: { _action: 'create', ...d } });\n  } else {\n    const changed =\n      (ex.start && ex.start.dateTime) !== d.start.dateTime ||\n      (ex.end && ex.end.dateTime) !== d.end.dateTime ||\n      ex.summary !== d.summary ||\n      ex.description !== d.description ||\n      ex.location !== d.location;\n    if (changed) out.push({ json: { _action: 'update', eventId: ex.id, ...d } });\n  }\n}\n// delete stale managed events not in desired set\nfor (const ev of existing) {\n  const m = (ev.description || '').match(keyRe);\n  const key = m && m[1];\n  if (key && !desiredKeys.has(key)) {\n    out.push({ json: { _action: 'delete', eventId: ev.id, slotId: key } });\n  }\n}\nreturn out;"
      },
      "id": "c2222222-0000-4000-8000-000000000002",
      "name": "Diff by Slot key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [80, 240]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json._action }}", "rightValue": "create", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "outputKey": "create"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json._action }}", "rightValue": "update", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "outputKey": "update"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json._action }}", "rightValue": "delete", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "outputKey": "delete"
            }
          ]
        },
        "options": {}
      },
      "id": "c3333333-0000-4000-8000-000000000003",
      "name": "Route by action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [320, 240]
    },
    {
      "parameters": {
        "operation": "create",
        "calendar": { "__rl": true, "value": "={{ $json.calendarId }}", "mode": "id" },
        "start": "={{ $json.start.dateTime }}",
        "end": "={{ $json.end.dateTime }}",
        "additionalFields": {
          "summary": "={{ $json.summary }}",
          "description": "={{ $json.description }}",
          "location": "={{ $json.location }}"
        }
      },
      "id": "c4444444-0000-4000-8000-000000000004",
      "name": "GCal: Create event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [560, 100],
      "disabled": true,
      "notesInFlow": true,
      "notes": "DISABLED for POC. Creates a new managed event. Marker 'Slot key: <slotId>' is already in the description so future runs can match it."
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": { "__rl": true, "value": "={{ $json.calendarId }}", "mode": "id" },
        "eventId": "={{ $json.eventId }}",
        "updateFields": {
          "start": "={{ $json.start.dateTime }}",
          "end": "={{ $json.end.dateTime }}",
          "summary": "={{ $json.summary }}",
          "description": "={{ $json.description }}",
          "location": "={{ $json.location }}"
        }
      },
      "id": "c5555555-0000-4000-8000-000000000005",
      "name": "GCal: Update event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [560, 240],
      "disabled": true,
      "notesInFlow": true,
      "notes": "DISABLED for POC. Updates an existing managed event matched by Slot key (eventId from the diff)."
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": { "__rl": true, "value": "={{ $json.calendarId || 'DCLT Badminton Availability' }}", "mode": "id" },
        "eventId": "={{ $json.eventId }}",
        "options": {}
      },
      "id": "c6666666-0000-4000-8000-000000000006",
      "name": "GCal: Delete stale event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [560, 380],
      "disabled": true,
      "notesInFlow": true,
      "notes": "DISABLED for POC. Deletes a managed event whose Slot key is no longer in the current availability set."
    },
    {
      "parameters": {
        "content": "## Google Calendar upsert (DISABLED for POC)\n\nFull upsert+delete, keyed by `Slot key: <slotId>` in the event description.\n\nFlow: **Build calendar event payloads** + **GCal: Get managed events** → **Diff by Slot key** → **Route by action** → Create / Update / Delete.\n\nThe 4 Google Calendar nodes are disabled so the workflow imports/runs with NO Google credentials and performs NO mutation.\n\n### To go live\n1. Create a dedicated calendar 'DCLT Badminton Availability'; share it read-only with the other person.\n2. Add a `googleCalendarOAuth2Api` credential in n8n.\n3. Set the real calendar id (email-style) in each GCal node's calendar field.\n4. Enable the 4 GCal nodes.\n\nICS preview: `http://localhost:8787/calendar.ics?days=2` (host) / `http://dclt-badminton-checker:8787/calendar.ics?days=2` (inside n8n).",
        "height": 360,
        "width": 460
      },
      "id": "1e52bc1e-58f7-4a5c-8c94-4a8847f7d663",
      "name": "Calendar wiring note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [820, 80]
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Fetch DCLT availability", "type": "main", "index": 0 }]] },
    "Fetch DCLT availability": { "main": [[{ "node": "Build calendar event payloads", "type": "main", "index": 0 }]] },
    "Build calendar event payloads": { "main": [[{ "node": "Build Telegram summary / event batch", "type": "main", "index": 0 }]] },
    "Build Telegram summary / event batch": { "main": [[{ "node": "GCal: Get managed events", "type": "main", "index": 0 }]] },
    "GCal: Get managed events": { "main": [[{ "node": "Diff by Slot key", "type": "main", "index": 0 }]] },
    "Diff by Slot key": { "main": [[{ "node": "Route by action", "type": "main", "index": 0 }]] },
    "Route by action": {
      "main": [
        [{ "node": "GCal: Create event", "type": "main", "index": 0 }],
        [{ "node": "GCal: Update event", "type": "main", "index": 0 }],
        [{ "node": "GCal: Delete stale event", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1", "timezone": "Europe/London" },
  "staticData": null,
  "pinData": {},
  "versionId": "0e8a0b83-bb46-49c0-ad32-9324bb85f3fd",
  "triggerCount": 0,
  "tags": []
}
